.MoviesCard__duration {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  color: #8B8B8B;
  margin: 13px 0 30px;
}

@media screen and (max-width: 767px) {
  .MoviesCard__duration {
    margin: 0
  }
}