.AboutProject__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0 0 26px;
}

@media screen and (max-width: 767px) {
  .AboutProject__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 16px;
  }
}