.Form__error {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  visibility: hidden;
  min-height: 20px;
  padding-top: 10px;
}

@media screen and (max-width: 767px) {
  .Form__error {
    min-height: 10px;
  }
}