.NavTab__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .NavTab__button {
    font-size: 10px;
    line-height: 1.6;
  }
}