.AboutProject__scale-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  padding: 9px 14px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .AboutProject__scale-subtitle {
    font-size: 11px;
    line-height: 13px;
  }
}