.Navigation__link {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
}

.Navigation__link:hover {
  opacity: .5;
  cursor: pointer;
}