.MoviesCard__btn-delete {
  background-image: url(../../../images/deleteIcon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 14px;
  height: 12px;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.MoviesCard__btn-delete:hover {
  opacity: .5;
  cursor: pointer;
}