.Error__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285F4;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .Error__link {
    font-size: 12px;
    line-height: 15px;
  }
}