.Portfolio__link {
  text-decoration: none;
  list-style: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

.Portfolio__link:hover {
  opacity: .5;
  cursor: pointer;
}