.AboutMe__photo {
  max-width: 270px;
  max-height: 327px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1023px) {
  .AboutMe__photo {
    max-width: 255px;
    max-height: 307px;
  }
}