.Profile__edit {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  background-color: transparent;
  border: 0;
  margin-top: 220px;
  cursor: pointer;
  padding: 0;
}